<br><br><br>
<div class="container">
    <br>
    <h1 style="text-align: center;color:black;">Locations</h1>
    <br>
    <div class="row">
        <div class="col-md-4" *ngFor="let a of venues">
            <a href="/venue/{{a.vname}}">
                <div class="thumbnail">
                    <img src="https://www.conradpune.com/images/home-slider/W&E/1.jpg " alt="Lights " style="width:100% ">
                    <div class="caption ">
                        <h3>{{a.vname}}</h3>
                    </div>
                </div>
            </a>
        </div>
    </div>







</div>