table {
    border: solid black 2px;
    border-collapse: collapse;
}

h2 {
    color: red;
}

.a {
    margin-left: auto;
    margin-right: auto;
    height: 20%;
    width: 30%;
}

table,
td,
th {
    padding: 10px 10px 25px 25px;
    border-collapse: collapse;
    border: 2px black solid;
}

.b {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}