<br><br>
<div style="background-image: url('https://media.istockphoto.com/photos/light-natural-wood-background-picture-id1142424263?k=6&m=1142424263&s=612x612&w=0&h=R7IKHWJTc89Sg1IzjfsV3U8Van-_1AccskAPT1G_JTE=') ;">
    <div class="image-aboutus-banner">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1 class="lg-text">Contact Us</h1>
                </div>
            </div>
        </div>
    </div>
    <br><br>
    <div class="container">
        <form action="mailto:a@gmail.com" method="post" enctype="text/plain">
            <label for="fname">First Name</label>
            <input type="text" id="fname" name="firstname" placeholder="Your name..">

            <label for="lname">Last Name</label>
            <input type="text" id="lname" name="lastname" placeholder="Your last name..">

            <label for="ibooking">Enquiry about</label>
            <select id="ibooking" name="ibooking">
                  <option value="bvenue">Booking venue</option>
                  <option value="bstatus">About booking status</option>
                  <option value="bpayment">About Booking payment</option>
                </select>

            <label for="contact_no">Contact No</label><br>
            <input type="tel" pattern="[7-9]{1}[0-9]{9}" id="contact_no" name="contact_no" placeholder="Your contact no">

            <label for="subject">Subject</label>
            <textarea id="subject" name="subject" placeholder="Write something.." style="height:200px"></textarea>

            <input type="submit" value="Submit">
        </form>

    </div>
</div>