<br><br><br><br>
<!-- <div class="container">
    <div class="table">
        <table>
            <tr>
                <thead>
                    <h2>Booking Receipt</h2>
                </thead>
            </tr>
            <tr>
                <th><b>Venue Name :</b></th>
                <td>a</td>
            </tr>
            <tr>
                <th>Venue Price :</th>
                <td></td>
            </tr>
            <tr>
                <th>Venue Price :</th>
                <td></td>
            </tr>
        </table>
    </div>

</div> -->
<h3 class=""></h3>
<br>



<div style="text-align: center;">
    <div class="form-header header-primary">
        <h2><i class="fa fa-calendar"></i>Make Venue Booking in Minutes</h2>
    </div>
    <div style="text-align: center;">
        <form>
            <table border="2px black" class="center">
                <tr>
                    <th>Venue Name</th>
                    <td>{{vname}}</td>
                </tr>
                <tr>
                    <th>Select Date</th>
                    <td><input type="date" name="date" id="d" [(ngModel)]="bdate" required />
                    </td>
                </tr>
                <!-- <tr>
                    <th>No of days</th>
                    <td><input type="number" placeholder="no of days" [(ngModel)]="b.b_days"></td>
                </tr> -->
                <tr>
                    <th>Venue Rate</th>
                    <td>{{bprice}}</td>
                </tr>
                <tr>
                    <th>Booking Price</th>
                    <td>{{bkrate}}</td>
                </tr>
                <tr>
                    <td><button type="submit" class="button btn-primary" (click)="a()">Confirm Booking</button></td>
                    <td><button type="reset" class="button">Cancel</button></td>
                </tr>


            </table>
        </form>
    </div>

</div>